.container {
    width: min(100%, 1440px);
    margin: auto;
}

/*header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px;
    background-color: #2E0230;
}


.header_ul {
    display: flex;
    column-gap: 100px;
}


.header_li_link {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
}


.header_li_link:hover {
    color: #F30AEA;
}


.header_button:hover {
    box-shadow: 0 0 5px white,
        0 0 15px white,
        0 0 20px white;
}


.header_section {
    display: flex;
    column-gap: 8px;
}

.header_button {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    width: 84px;
    height: 42px;
    background-color: transparent;
    border: 1px solid #F30AEA;
    border-radius: 8px;
}


/*section*/


.section {
    object-fit: cover;
    position: relative;
}

/*section2*/

.section2 {
    width: 920px;
    height: 784px;
    background-color: #1C1325CC;
    border: 1px solid #B052B5C9;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 80px;
    padding: 48px 200px;
}



/*section3*/

h2 {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 4px;
    color: #FFFFFF;
    text-shadow: 2px 4px 4px #F90CEFB5;
}


h3 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: white;
}

/*form*/


.article1 {
    display: flex;
    column-gap: 24px;
}

.name,
.email {
    width: calc(242/520 * 100%);
    height: 48px;
    border: none;
    border: 1px solid #B052B5;
    background-color: transparent;
    border-radius: 8px;
    outline: none;
    padding: 11px 22px;
}


input[type=radio] {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #F30AEAB5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


input[type=radio]:checked::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #F30AEAB5;
}

::placeholder {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #9E8D9EB5;
}


.radio_div {
    display: flex;
    align-items: center;
    column-gap: 8px;
}


.radio {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #B052B5;
}





.article2 {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.radio_main_section {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}


form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}


/*placeholder*/


textarea {
    width: 520px;
    resize: none;
    height: 112px;
    background-color: transparent;
    border: none;
    border: 1px solid #B052B5;
    outline: none;
    padding: 11px 22px;
    border-radius: 8px;
}


#textarea::placeholder {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}



.textarea_label {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
}


.textarea_section {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}


.checkbox_section {
    display: flex;
    align-items: center;
    column-gap: 16px;
}



input[type=checkbox] {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #F30AEA;
    display: flex;
    justify-content: center;
    align-items: center;
}


input[type=checkbox]:checked::before {
    content: \f00c;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 16px;
    color: #F30AEA;
}


label[for=checkbox] {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
}


/*button*/

.send_button {
    height: 64px;
    background-color: #F30AEA;
    border: none;
    border-radius: 16px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #FFFFFF;
}